scope: {{ patroni_cluster_name }}
namespace: {{ patroni_namespace }}
{% if patroni_name is defined %}
name: {{ patroni_name }}
{% else %}
name: {{ inventory_hostname }}
{% endif %}

restapi:
    listen: {{ patroni_ip }}:8008
    connect_address: {{ patroni_ip }}:8008

etcd3:
    hosts: {{ patroni_etcd_hosts }}
    protocol: {{ patroni_etcd_protocol }}
{% if patroni_etcd_key is defined %}
    key: {{ patroni_etcd_key }}
{% endif %}
{% if patroni_etcd_cacert is defined %}
    cacert: {{ patroni_etcd_cacert }}
{% endif %}
{% if patroni_etcd_cert is defined %}
    cert: {{ patroni_etcd_cert }}
{% endif %}

bootstrap:
    dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
            use_pg_rewind: true

    initdb:
    - encoding: UTF8
    - data-checksums

    pg_hba:
    - host replication replicator 127.0.0.1/32 md5
{% for s in groups['patroni'] %}
    - host replication replicator {{ hostvars[s].patroni_ip }}/32 md5
{% endfor %}
    - host all all 0.0.0.0/0 md5

{% if patroni_bootstrap_users is defined %}
    users: {{ patroni_bootstrap_users }}
{% endif %}

postgresql:
    listen: {{ patroni_ip }}:5432
    connect_address: {{ patroni_ip }}:5432
    data_dir: {{ patroni_data_dir }}
    pgpass: /tmp/pgpass
    authentication:
        replication:
            username: {{ patroni_replication_username }}
            password: {{ patroni_replication_password }}
        superuser:
            username: {{ patroni_superuser_username }}
            password: {{ patroni_superuser_password }}
    parameters:
        unix_socket_directories: '.'

tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false